ajaxuploader==0.3.8
attrs==19.1.0
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
cheroot==6.5.4
colorama==0.4.1
coverage==4.5.3
defusedxml==0.5.0
dj-database-url==0.5.0
Django==1.11.1
django-appconf==1.0.3
django-classy-tags==0.8.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
doc8==0.8.0
docutils==0.15.2
dominate==2.3.5
easy-thumbnails==2.6
feedparser==5.2.1
glob2==0.6
html5lib==1.0.1
idna==2.8
importlib-metadata==0.18
Jinja2==2.10
Markdown==3.1
MarkupSafe==1.1.0
mock==2.0.0
more-itertools==5.0.0
oauthlib==3.0.0
ordereddict==1.1
packaging==19.0
pbr==5.1.3
pep8==1.7.1
Pillow==5.4.1
pluggy==0.12.0
portend==2.3
psycopg2==2.7.1
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.0
PyPDF2==1.26.0
pytest==4.6.3
python-dateutil==2.8.0
python-editor==1.0.4
python-mimeparse==1.6.0
python3-openid==3.1.0
pytz==2018.9
pywin32==224
PyYAML==3.13
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==1.2.0
restructuredtext-lint==1.3.0
selenium==3.141.0
six==1.12.0
sqlparse==0.2.4
stevedore==1.30.1
tempora==1.14
tzlocal==1.5.1
Unidecode==1.0.23
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
xhtml2pdf==0.2.3
xlrd==1.2.0
xlwt==1.3.0
zc.lockfile==1.4
zipp==0.5.1
